.footer {
    grid-column: 1 / -1;

    background-color: #313030;
    display: grid;
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

    @media only screen and (max-width: $bp-large) {
        grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(2rem, 1fr) [full-end];
    }
    
    &__container {
        grid-column: center-start / center-end;

        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #b8b8b8;
        padding: 2rem 0;
    }

    &__social {
        img {
            cursor: pointer;
        }
    }
}